n8n/ingestion_workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        -128
      ],
      "id": "f37f835d-9a26-4e8c-9ccc-778261ed32cf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2752,
        -64
      ],
      "id": "1de83529-45c0-49ab-a7c5-cc8bb2d70931",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "EJCDkpD2c4cFF5sE",
          "name": "AI Sales Funnel"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Loop Over Price Items').item.json.uniqueId }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Loop Over Price Items').item.json.fileName }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2880,
        -64
      ],
      "id": "cf31d670-be76-475e-85eb-04138970a05a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2960,
        144
      ],
      "id": "6bbe7ba8-caef-4f98-867e-c8857dd7d555",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2784,
        -288
      ],
      "id": "5f7ba2d6-8d0a-4cc9-af3c-bf2f9bddb924",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "HHzF9AaBuqfo8dLo",
          "name": "AI Sales DB"
        }
      }
    },
    {
      "parameters": {
        "resource": "item",
        "site": {
          "__rl": true,
          "value": "constructvirtual.sharepoint.com,be070435-82c3-4dcc-afd2-0e391b09e20a,9b721188-b469-49ca-b859-ea384104b543",
          "mode": "list",
          "cachedResultName": "Ai and Automation Team"
        },
        "list": {
          "__rl": true,
          "value": "27934bee-9bec-45af-a711-a169c1e45d68",
          "mode": "list",
          "cachedResultName": "Documents"
        },
        "returnAll": true,
        "options": {
          "fields": [
            "webUrl",
            "fields",
            "id",
            "contentType"
          ]
        },
        "simplify": false,
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -832,
        -128
      ],
      "id": "6e868ee9-db81-42f4-a20c-32bf4ac7f742",
      "name": "Get many items",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "MX9wLE9u2h4ehYif",
          "name": "Microsoft SharePoint account - LOCAL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0071851c-5149-4970-bd2b-43bcdac98908",
              "leftValue": "={{ $json.webUrl }}",
              "rightValue": "/SOP/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f1667ae0-f0aa-43b3-948a-de04f7fbf04d",
              "leftValue": "={{ $json.contentType.name }}",
              "rightValue": "Document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -608,
        -128
      ],
      "id": "54c68224-dea5-4ee7-984f-339841611a5f",
      "name": "Has SOP Docs?"
    },
    {
      "parameters": {
        "site": {
          "__rl": true,
          "value": "constructvirtual.sharepoint.com,be070435-82c3-4dcc-afd2-0e391b09e20a,9b721188-b469-49ca-b859-ea384104b543",
          "mode": "list",
          "cachedResultName": "Ai and Automation Team"
        },
        "folder": {
          "__rl": true,
          "value": "01FWL5VJMXI7XZSD5PB5BKT7UU6CHFT5LV",
          "mode": "list",
          "cachedResultName": "Price Packages"
        },
        "file": {
          "__rl": true,
          "value": "={{ $json.uniqueId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        512,
        -368
      ],
      "id": "525ce21d-a381-4af9-bc33-00b5449310de",
      "name": "Download File",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "MX9wLE9u2h4ehYif",
          "name": "Microsoft SharePoint account - LOCAL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2304,
        -368
      ],
      "id": "c5342cad-8c4b-4cf4-a9d0-de7bbc4a6e11",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "472aeae8-243c-4742-9306-972aa7e721ba",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "b565b3ee-a743-44d2-8620-3892bdfb0db8",
              "name": "file_id",
              "value": "={{ $('Loop Over Price Items').item.json.uniqueId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        -368
      ],
      "id": "2ad681da-9d09-486a-b8c1-2403035fe434",
      "name": "Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.webUrl }}",
                    "rightValue": "/Price%20Packages",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7bebebaa-5bf7-44df-86c0-b40cf0964122"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Price Package"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        -128
      ],
      "id": "90322f11-f556-437f-8441-2e4f647167a2",
      "name": "Switch"
    },
    {
      "parameters": {
        "type": "SHA256",
        "binaryData": true,
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        736,
        -368
      ],
      "id": "1bcfe7a7-7a01-47b2-b696-c0b2bc1de4a2",
      "name": "Generate Unique Hash"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -128
      ],
      "id": "edede5b0-2919-4945-a320-0f89fd53f07f",
      "name": "Set Price Package Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        -128
      ],
      "id": "442f0dcf-157c-4a4b-b076-53f5d0cc90ad",
      "name": "Loop Over Price Items"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_record_manager",
          "mode": "list",
          "cachedResultName": "document_record_manager"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "microsoft_file_id",
              "value": "={{ $('Loop Over Price Items').item.json.uniqueId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        -368
      ],
      "id": "ebbf1546-8cec-4958-a702-179c55e308a7",
      "name": "Search Record Manager",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vphWn3U6qKEEHLoH",
          "name": "AI Sales DB"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_record_manager",
          "mode": "list",
          "cachedResultName": "document_record_manager"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "microsoft_file_id": "={{ $('Loop Over Price Items').item.json.uniqueId }}",
            "hash": "={{ $('Generate Unique Hash').item.json.hash }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "microsoft_file_id",
              "displayName": "microsoft_file_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hash",
              "displayName": "hash",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        -464
      ],
      "id": "89ddfceb-a762-4c84-93cc-80343b5c7162",
      "name": "Create a Record",
      "credentials": {
        "postgres": {
          "id": "vphWn3U6qKEEHLoH",
          "name": "AI Sales DB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "9061a742-7de5-4727-9232-780cf6faed98"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file_new"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "93461224-dd1f-4221-8142-b708bd4b2bb2",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Unique Hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file_not_changed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eb87215d-b472-4829-8f47-61653bbe6cac",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Unique Hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file_changed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1184,
        -384
      ],
      "id": "b80f3315-7332-40de-94a1-620ae7e099ea",
      "name": "Switch1"
    },
    {
      "parameters": {
        "site": {
          "__rl": true,
          "value": "constructvirtual.sharepoint.com,be070435-82c3-4dcc-afd2-0e391b09e20a,9b721188-b469-49ca-b859-ea384104b543",
          "mode": "list",
          "cachedResultName": "Ai and Automation Team"
        },
        "folder": {
          "__rl": true,
          "value": "01FWL5VJMXI7XZSD5PB5BKT7UU6CHFT5LV",
          "mode": "list",
          "cachedResultName": "Price Packages"
        },
        "file": {
          "__rl": true,
          "value": "={{ $('Loop Over Price Items').item.json.uniqueId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        2080,
        -368
      ],
      "id": "fdc5a5c6-1977-453f-863a-e12f6d71e4f8",
      "name": "Download File1",
      "executeOnce": false,
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "MX9wLE9u2h4ehYif",
          "name": "Microsoft SharePoint account - LOCAL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  // Extract the unique ID from @odata.etag\n  const etag = item.json[\"@odata.etag\"];\n  const fileName = !item.json[\"webUrl\"]? \"unkown\": item.json[\"webUrl\"].split(\"/\").at(-1);\n  const uniqueId = etag.split(\",\")[0].split('\"')[1];\n  \n  return {\n    json: {\n      ...item.json,\n      uniqueId: uniqueId,  // This is the ID you need\n      fileName: fileName || 'unknown',\n      webUrl: item.json.webUrl\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -128
      ],
      "id": "215fc47b-38a6-4980-90e9-908951626c72",
      "name": "Get File Details"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Loop Over Price Items').item.json.uniqueId }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        -272
      ],
      "id": "f01fee3a-c710-49c7-9676-b528b6d12922",
      "name": "Delete File Record",
      "credentials": {
        "supabaseApi": {
          "id": "HHzF9AaBuqfo8dLo",
          "name": "AI Sales DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "document_record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search Record Manager').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Unique Hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1856,
        -272
      ],
      "id": "9fd8b703-1af6-4e09-b1d1-75e375cfbf82",
      "name": "Update Record Manager",
      "credentials": {
        "supabaseApi": {
          "id": "HHzF9AaBuqfo8dLo",
          "name": "AI Sales DB"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1632,
        -272
      ],
      "id": "8634dd9c-5d05-441f-ac30-9ea9237cdcd5",
      "name": "Aggregate Deleted Results"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Price Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many items": {
      "main": [
        [
          {
            "node": "Has SOP Docs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has SOP Docs?": {
      "main": [
        [
          {
            "node": "Get File Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Generate Unique Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Price Package Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Unique Hash": {
      "main": [
        [
          {
            "node": "Search Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Price Package Fields": {
      "main": [
        [
          {
            "node": "Loop Over Price Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Price Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record Manager": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Record": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Create a Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Price Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete File Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Details": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete File Record": {
      "main": [
        [
          {
            "node": "Aggregate Deleted Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record Manager": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Deleted Results": {
      "main": [
        [
          {
            "node": "Update Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39fc991a0ce7eeb0659c20be25d302eb809887b591ab3beceafa11521a9264b9"
  }
}